
:root{
    --main-color: #F473B9;
    --main-color-b: #f261b1;
    --light-black: #343a40 ;
    --ash: #ccc;
    --white: white;
    --line-colors: #FFDDEE;
    --line-colors-dark: #fabddb;
}

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.active {
    color: var(--main-color);
    opacity: .7;
}

a {
    text-decoration: none;  
    color: black;
}
body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    flex: 1;
    /* width: 271px; */
    height: 270px;
    border: 1px solid var(--line-colors);
    padding: 50px;
}

.box1 {
    flex: 1;
    /* width: 311px; */
    height: 250px;
    border: 1px solid var(--line-colors);
    padding: 40px 30px 0 30px;
}

.box2 {
    flex: 1;
    height: 450px;
    border: 1px solid var(--line-colors);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-div{
    display: flex;
    margin: 0 210px 0 210px;
    flex-wrap: wrap;
}
.box-img{
    height: 300px;
    width: 200px;
}
.box-img:hover{
    cursor: pointer;
}
.border-radius-20px{
    border-radius: 20px;
}
.border-right{
    border-right: 1px solid var(--line-colors);
}
.border-left{
    border-left: 1px solid var(--line-colors);
}
.btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2; 
}
.btn1{
    width: 150px;
    height: 50px;
    border-radius: 9px;
    margin-top: 30px;
    background-color: var(--main-color-light);
    border: 1px solid var(--white);
}
.btn-div{
    display: flex;
    gap: 20px;
}
.btn1:hover{
    background-color: var(--white);
    cursor: pointer;
}
.btn-main{
    border-radius: 10px;
    margin-top: 30px;
    background-color: var(--line-colors);
    border: 1px solid var(--main-color);
}
.btn:hover{
    background-color: var(--main-color-b);
    cursor: pointer;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.d-p{
    color: rgb(61, 59, 59);
    font-weight: 550;
}
.f-color{
    text-decoration: underline var(--main-color);
    width: 10px;
}
.fulll-color{
    color: var(--main-color);
}

.fulll-color-light{
    color: var(--line-colors);
}

.full-rectangle{
    background-color: var(--main-color);
    height: 200px;
}
/* .icons-main-div .icons{
    filter: brightness(1);
} */
.h1{
    font-size: larger;
}
h3{
    color: var(--light-black);
    font-family: Dosis, sans-serif;
    margin-bottom: 30px;
}
.h3-no{
    color: var(--light-black);
    font-family: Dosis, sans-serif;
    margin-bottom: 10px;
}

.hr-short-color{
    margin-bottom: 50px;
    margin-top: 10px;
    width: 20px;
    border-bottom: 1px solid var(--main-color) ;
}
/* .big-icons{
    height: 60px;
    width: 60px;
} */
.icon-overlay{
    position: absolute;
}

.icon-overlay-div{
    position: relative;
    padding: 0;
}

li {
    list-style: none;
}
iframe{
    height: 100%;
    width: 100%;
}

/* .main{
    height: 100vh;
} */

.margin-right-20px{
    margin-right: 20px;
}
.margin-bottom-50px{
    margin-bottom: 50px;
}
.margin-bottom-100px{
    margin-bottom: 100px;
}
.margin-bottom-top-50px{
    margin-top: 20px;
    margin-bottom: 30px;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-top-20px{
    margin-top: 20px;
}
.margin-top-50px{
    margin-top: 50px;
}

.margin-right-50px{
    margin-right: 50px;

}

.margin-left-50px{
    margin-left: 50px;

}
.margin-left-210px{
    margin-left: 210px;

}
/* .padding-0-210px{
    padding: 0 210px;
} */
.padding-50px-100px-50px-50px{
    padding: 50px 100px 50px 50px;
}

/* p{
    color: #535151;
    font-size: x-small;
} */
.rectangle{
    border: 1px solid var(--main-color);
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    margin-right: 20px;
}
.rectangle-div{
    display: flex;
    height: 100px;
    flex-wrap: wrap;
}
.round-img{
    width: 180px;
    height: 180px;
}
/* Home */
#home {
    position: relative;
    background-image: url(images/Icons/header.jpg);
    background-color: var(--line-colors);
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover; 
    background-position: center; 
    background-position: center top; 
}

#home::before {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hc-top-p {
    font-size: xx-large;
    font-weight: 500px;
    color: var(--white);
    position: relative;
    margin-bottom: 10px; 
}

.h1-bold {
    color: var(--ash);
    position: relative; 
    font-size: 3rem;
}

.hc-bottom-p {
    color: var(--white);
    position: relative; 
    margin-top: 20px; 
}

.icon-div {
    position: absolute;
    top: 20px;
    left: 210px;
    z-index: 2; 
}

.icon {
    width: 30px;
    height: 30px;
    filter: brightness(0.7);
}

.icon-a:hover img {
    filter: brightness(1);
    transition: 0.8s; 
}

.home-content {
    margin-top: 120px; 
    margin-left: 210px;
}

/* Home */

/* Nav */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.sticky1, .sticky2{
    display: none;
}

header {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.nav-ul-1,
.nav-ul-3 {
    flex: 1; 
}

.nav-ul-1 ul,
.nav-ul-3 ul {
    display: flex;
    justify-content: space-between;
}
.nav-ul-1 {
    margin-left: 210px;
}
.nav-ul-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



.nav-ul-3 {
    margin-right: 210px;
}

/* Nav */

/* About */
.about{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--line-colors);

}
.about div {
    flex: 1;
}
.expertise-div{
    padding: 0 210px;
    display: flex;
    align-items: center;
    height: 190px;
    margin-top: 30px;
    display: flex;
}
.expertise-div2{
    display: flex;
    flex: 1;
}
.expertise{
    border-left: 1px solid var(--line-colors);
    padding-left: 20px; 
}
.expertise h1 {
    font-size: 2em;
}

.big-icons{
    height: 50px;
    width: 50px;
}

/* About */

/* Contact */
.Contact-main-div{
    height: 80vh;
    width: 100%;
    padding-top: 50px;
    /* background-color: #00ffff; */
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
.Contact-main-div iframe{
    filter: brightness(0.7);

}
.Contact-main{
    position: absolute;
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 20px 0 10px 0;
    width: 800px;
    padding: 10px 0;
    /* height: 27rem; */
}

.Contact-main2{
    display: flex;
    margin: 30px 0 30px;
    gap: 40px;
    justify-content: center;
}

.Contact-main3 input, textarea{
    border: 1px solid var(--line-colors);
    border-radius: 10px;
    padding: 5px 0 0 10px;
    background-color: var(--line-colors);
}
.Contact-main3 input{
    border: 1px solid var(--line-colors);
    border-radius: 10px;
}

.Contact-main3 input, textarea:focus{
    outline: none;
}

.input1{
    margin-top: 20px;
    height: 30px;
    width: 295px;
}
.input2{
    margin-top: 10px;
    height: 30px;
    width: 608px;
}
.input3{
    margin-top: 10px;
    margin-bottom: 3px;
    width: 608px;
    height: 120px;
}

.btn2{
    background-color: var(--line-colors);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--white) ;
    align-items: flex-start;
    margin: 8px 0[];
}
.btn2:hover{
    background-color: var(--line-colors-dark);
    border: 1px solid var(--line-colors) ;
    cursor: pointer;
}

.bx-check {
    font-size: larger;
    font-weight: 600;
    color: var(--main-color);
}

.sitemap {
    background-color: var(--main-color);
    color: var(--line-colors);
    padding: 20px 210px 20px;
}

.sitemap-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sitemap-div img {
    width: 500px;
    height: 500px;
}
.sitemap-div li{
    margin-bottom: 20px;
}

.bottom-a {
    text-decoration: underline;
    color: var(--line-colors);
    font-family: 'Your Fancy Font', sans-serif;
    font-size: 25px;
    /* font-weight: 100; */
    margin-bottom: 10px;
    text-wrap: nowrap;
}

.map-list{
    display: flex;
}

.bottom-p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    /* font-weight: 100; */
}
