
:root{
    --main-color: #F473B9;
    --main-color-b: #f261b1;
    --light-black: #343a40 ;
    --ash: #ccc;
    --white: white;
    --line-colors: #FFDDEE;
    --line-colors-dark: #fabddb;
}

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.active {
    color: var(--main-color);
    opacity: .7;
}

a {
    text-decoration: none;  
    color: black;
}
body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    flex: 1;
    /* width: 271px; */
    height: 270px;
    border: 1px solid var(--line-colors);
    padding: 50px;
}

.box1 {
    flex: 1;
    /* width: 311px; */
    height: 250px;
    border: 1px solid var(--line-colors);
    padding: 40px 30px 0 30px;
}

.box2 {
    flex: 1;
    /* width: 271px; */
    height: 450px;
    border: 1px solid var(--line-colors);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-div{
    display: flex;
    margin: 0 210px 0 210px;
    flex-wrap: wrap;
}
.box-img{
    height: 300px;
    width: 200px;
}
.box-img:hover{
    cursor: pointer;
}
.border-radius-20px{
    border-radius: 20px;
}
.border-right{
    border-right: 1px solid var(--line-colors);
}
.border-left{
    border-left: 1px solid var(--line-colors);
}
.btn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-top: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2; 
}
.btn1{
    width: 150px;
    height: 50px;
    border-radius: 9px;
    margin-top: 30px;
    background-color: var(--main-color-light);
    border: 1px solid var(--white);
}
.btn-div{
    display: flex;
    gap: 20px;
}
.btn1:hover{
    background-color: var(--white);
    cursor: pointer;
}
.btn-main{
    border-radius: 10px;
    margin-top: 30px;
    background-color: var(--line-colors);
    border: 1px solid var(--main-color);
}
.btn:hover{
    background-color: var(--main-color-b);
    cursor: pointer;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.d-p{
    color: rgb(61, 59, 59);
    font-weight: 550;
}
.f-color{
    text-decoration: underline var(--main-color);
    width: 10px;
}
.fulll-color{
    color: var(--main-color);
}

.fulll-color-light{
    color: var(--line-colors);
}

.full-rectangle{
    background-color: var(--main-color);
    height: 200px;
}
/* .icons-main-div .icons{
    filter: brightness(1);
} */
.h1{
    font-size: larger;
}
h3{
    color: var(--light-black);
    font-family: Dosis, sans-serif;
    margin-bottom: 30px;
}
.h3-no{
    color: var(--light-black);
    font-family: Dosis, sans-serif;
    margin-bottom: 10px;
}

.hr-short-color{
    margin-bottom: 50px;
    margin-top: 10px;
    width: 20px;
    border-bottom: 1px solid var(--main-color) ;
}
/* .big-icons{
    height: 60px;
    width: 60px;
} */
.icon-overlay{
    position: absolute;
}

.icon-overlay-div{
    position: relative;
    padding: 0;
}

li {
    list-style: none;
}
iframe{
    height: 100%;
    width: 100%;
}

/* .main{
    height: 100vh;
} */

.margin-right-20px{
    margin-right: 20px;
}
.margin-bottom-50px{
    margin-bottom: 50px;
}
.margin-bottom-100px{
    margin-bottom: 100px;
}
.margin-bottom-top-50px{
    margin-top: 20px;
    margin-bottom: 30px;
}
.margin-top-10px{
    margin-top: 10px;
}
.margin-top-20px{
    margin-top: 20px;
}
.margin-top-50px{
    margin-top: 50px;
}

.margin-right-50px{
    margin-right: 50px;

}

.margin-left-50px{
    margin-left: 50px;

}
.margin-left-210px{
    margin-left: 210px;

}
/* .padding-0-210px{
    padding: 0 210px;
} */
.padding-50px-100px-50px-50px{
    padding: 50px 100px 50px 50px;
}

p{
    color: #535151;
    font-size: x-small;
}
.rectangle{
    border: 1px solid var(--main-color);
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    margin-right: 20px;
}
.rectangle-div{
    display: flex;
    height: 100px;
    flex-wrap: wrap;
}
.round-img{
    width: 180px;
    height: 180px;
}
/* Home */
#home {
    position: relative;
    background-image: url(images/Icons/header.jpg);
    background-color: var(--line-colors);
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover; 
    background-position: center; 
    background-position: center top; 
}

#home::before {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hc-top-p {
    font-size: xx-large;
    font-weight: 500px;
    color: var(--white);
    position: relative;
    margin-bottom: 10px; 
}

.h1-bold {
    color: var(--ash);
    position: relative; 
    font-size: 3rem;
}

.hc-bottom-p {
    color: var(--white);
    position: relative; 
    margin-top: 20px; 
}

.icon-div {
    position: absolute;
    top: 20px;
    left: 210px;
    z-index: 2; 
}

.icon {
    width: 30px;
    height: 30px;
    filter: brightness(0.7);
}

.icon-a:hover img {
    filter: brightness(1);
    transition: 0.8s; 
}

.home-content {
    margin-top: 120px; 
    margin-left: 210px;
}

/* Home */

/* Nav */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.sticky1, .sticky2{
    display: none;
}

header {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.nav-ul-1,
.nav-ul-3 {
    flex: 1; 
}

.nav-ul-1 ul,
.nav-ul-3 ul {
    display: flex;
    justify-content: space-between;
}
.nav-ul-1 {
    margin-left: 210px;
}
.nav-ul-2 {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



.nav-ul-3 {
    margin-right: 210px;
}

/* Nav */

/* About */
.about{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--line-colors);

}
.about div {
    flex: 1;
}
.expertise-div{
    padding: 0 210px;
    display: flex;
    align-items: center;
    height: 190px;
    margin-top: 30px;
    display: flex;
}
.expertise-div2{
    display: flex;
    flex: 1;
}
.expertise{
    border-left: 1px solid var(--line-colors);
    padding-left: 20px; 
}
.expertise h1 {
    font-size: 2em;
}

.big-icons{
    height: 50px;
    width: 50px;
}

/* About */

/* Contact */
.Contact-main-div{
    height: 80vh;
    width: 100%;
    padding-top: 50px;
    /* background-color: #00ffff; */
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
.Contact-main-div iframe{
    filter: brightness(0.7);

}
.Contact-main{
    position: absolute;
    background-color: var(--main-color);
    border-radius: 10px;
    margin: 20px 0 10px 0;
    width: 800px;
    padding: 10px 0;
    height: 27rem;
}

.Contact-main2{
    display: flex;
    margin: 30px 0 30px;
    gap: 40px;
    justify-content: center;
}

.Contact-main3 input, textarea{
    border: 1px solid var(--line-colors);
    border-radius: 10px;
    padding: 5px 0 0 10px;
    background-color: var(--line-colors);
}
.Contact-main3 input{
    border: 1px solid var(--line-colors);
    border-radius: 10px;
}

.Contact-main3 input, textarea:focus{
    outline: none;
}

.input1{
    margin-top: 20px;
    height: 30px;
    width: 295px;
}
.input2{
    margin-top: 10px;
    height: 30px;
    width: 608px;
}
.input3{
    margin-top: 10px;
    margin-bottom: 3px;
    width: 608px;
    height: 120px;
}

.btn2{
    background-color: var(--line-colors);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--white) ;
    align-items: flex-start;
}
.btn2:hover{
    background-color: var(--line-colors-dark);
    border: 1px solid var(--line-colors) ;
    cursor: pointer;
}

.bx-check {
    font-size: larger;
    font-weight: 600;
    color: var(--main-color);
}

.sitemap {
    background-color: var(--main-color);
    color: var(--line-colors);
    padding: 20px 210px 20px;
}

.sitemap-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sitemap-div img {
    width: 500px;
    height: 500px;
}
.sitemap-div li{
    margin-bottom: 20px;
}

.bottom-a {
    text-decoration: underline;
    color: var(--line-colors);
    font-family: 'Your Fancy Font', sans-serif;
    font-size: 25px;
    /* font-weight: 100; */
    margin-bottom: 10px;
    text-wrap: nowrap;
}

.map-list{
    display: flex;
}

.bottom-p{
    display: flex;
    justify-content: center;
    font-size: 18px;
    /* font-weight: 100; */
}



@media (max-width: 1398px){

    .header-s{
        font-size: large;
    }
    #header{
        display: none;
    }

    /* .sticky-div{
        position: sticky;
        top: 0;
        z-index: 1000;
    } */
    .sticky1-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        width: 100%;
        z-index: 1000;
        gap: 20%;
        padding-bottom: 20px;
        background-color: var(--white);
    }
    .sticky1 {
        display: block;
        position: sticky;
        top: 0px;
        width: 100%;
        height: auto;
        z-index: 1000;
        background-color: var(--white);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
        h2{
            margin-left: 40px;
        }
        .checkbtn{
            filter: brightness(0.0);
            cursor: pointer;
            margin-right: 40px;
        }
    }
    .sticky2{
        padding: 10px 40px;
        background-color: var(--ash);
        font-weight: 600;
        font-size: small;
        li{
            margin-bottom: 20px;
            margin-left: 20px;
        }
    }
    .checkbtn{
        font-size: 30px;
        cursor: pointer;
    }
    /* Home*/
    #home{
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .home-content {
        margin: 40px;

    }
    .hc-top-p{
        font-size: large;
    }
    .h1-bold{
        font-size: 1.7rem;
    }
    .top-icon{
        display: flex;
       left: 50px;
    }
    /* About */
    .top-box{
        border-right: none;
        border-bottom: 1px solid var(--main-color);
        padding: 50px 50px 50px 0;
        margin: 0 50px;
    }


    /* About2 */
    .box-div{
        display: inline;
        margin-left: 50px;
    }
    .box{
        margin: 20px 50px;
        height: auto;
    }

    .expertise-div{
        flex-wrap: wrap;
        height: auto;
        padding: 3rem 0 3rem 50px;

    }
    .expertise-div2{
        margin-bottom: 30px;
    }

    /* Services */
    .h1{
        margin-left: 50px;
    }
    .box1{
        margin: 0 50px;
        height: auto;
        padding-bottom: 50px;
    }

    .full-rectangle{
        h2{
            font-size: 1rem;
        }
    }


    /* Projects */
    .box2{
        margin: 50px;
        .btn1{
            width: 5rem;
        }
    }

 

    /* Sitemap */
    .sitemap{
        padding: 20px 50px 80px;
    }

    /* #sitemap img{
        display: none;
    } */
    .bottom-p{
        font-size: 0.8rem;
    }
}

@media (max-width: 1280px) {
    .Contact-main{
        padding: 30px 0;
    }
    #sitemap img {
        height: 400px;
        width: 400px;
    }
    .Contact-main-div{
        height: 100vh;       
    }
    .Contact-main{
        margin-top: 135px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 210px;
    }
}

@media (max-width: 1024px) {
    .Contact-main{
        padding: 30px 0;
    }
    #sitemap img {
        height: 400px;
        width: 400px;
    }
    .Contact-main-div{
        height: 140vh;       
    }
    .Contact-main{
        margin-top: 135px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 30px;
    }
}

@media (max-width: 912px) {
    #sitemap img {
        height: 400px;
        width: 400px;
    }
    .Contact-main-div{
        height: 55vh;       
    }
    .Contact-main{
        margin-top: 135px;
        width: 700px;

    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 780px;
    }
}

@media (max-width: 820px) {

    #sitemap img {
        height: 400px;
        width: 400px;
    }
    .Contact-main-div{
        height: 75vh;       
    }
    .Contact-main{
        margin-top: 135px;
        width: 700px;

    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 590px;
    }
}

@media (max-width: 768px) {
    #sitemap img {
        height: 400px;
        width: 400px;
    }
    .Contact-main-div{
        height: 85vh;       
    }
    .Contact-main{
        margin-top: 135px;
        width: 700px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 440px;
    }
}

@media (max-width: 540px) {
    
    /* Contact */
    .Contact-main{
        width: 18rem;
        margin-top: 135px;
    }
    .Contact-main2{
        flex-wrap: wrap;
    }
    .input2{
        height: 30px;
        width: 295px;
    }
    .input3{
        width: 295px;
    }
    .Contact-main-div{
        height: 140vh;       
    }

    .Contact-main{
        padding-top: 1rem;
        height: 38rem;
    }

    #sitemap img {
        display: none;
    }

     /* Sitemap */
     .sitemap{
        padding: 20px 50px 130px;
    }
}

@media (max-width: 440px) {
    .expertise-div{
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        padding: 3rem 0;
        justify-content: center;
        flex-direction: column;
    }
    .expertise-div2{
        display: flex;
        margin-bottom: 30px;
    }
    #sitemap img {
        display: none;
    }
    .Contact-main-div{
        height: 114vh;       
    }
    .Contact-main{
        margin-top: 135px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 360px;
    }
}



@media (max-width: 414px)  and (max-height: 896px){

    .Contact-main-div{
        height: 120vh;       
    }
    .Contact-main{
        margin-top: 133px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 320px;
    }
}

@media (max-width: 414px) and (max-height: 736px) {

    .Contact-main-div{
        height: 145vh;       
    }
    .Contact-main{
        margin-top: 133px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 150px;
    }
}

@media (max-width: 412px) {
    .Contact-main-div{
        height: 115vh;       
    }
    .Contact-main{
        margin-top: 120px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 320px;
    }
}

@media (max-width: 411px) {
    .Contact-main-div{
        height: 140vh;       
    }
    .Contact-main{
        margin-top: 120px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 220px;
    }
}

@media (max-width: 390px) {
    .Contact-main-div{
        height: 122vh;       
    }
    .Contact-main{
        margin-top: 80px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 260px;
    }
}
@media (max-width: 375px) {
    #home{
        height: 100vh;
    }
    .Contact-main-div{
        height: 155vh;       
    }
    .Contact-main{
        margin-top: 100px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 90px;
    }
}
@media (max-width: 360px) and (max-height: 740px) {
    .Contact-main-div {
        height: 135vh;
    }

    .Contact-main {
        margin-top: 80px;
    }

    /* Sitemap */
    .sitemap {
        padding: 20px 50px 160px;
    }
}

@media (max-width: 360px) and (max-height: 653px){
    /* Contact */
    .Contact-main{
        height: 1090px;
        width: 280px;
        margin-top: 135px;
    }
    .Contact-main2{
        flex-wrap: wrap;
    }
    .input1{
        height: 30px;
        width: 235px;
    }
    .input2{
        height: 30px;
        width: 235px;
    }
    .input3{
        width: 235px;
    }
    .Contact-main-div{
        height: 205vh;       
    }

    .Contact-main{
        margin-top: 80px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 80px;
    }
    .map-list{
        display: flex;  
        flex-direction: column;

    }
}

@media (max-width: 360px) and (max-height: 653px){
    /* Contact */
    .Contact-main{
        height: 1090px;
        width: 280px;
        margin-top: 135px;
    }
    .Contact-main2{
        flex-wrap: wrap;
    }
    .input1{
        height: 30px;
        width: 235px;
    }
    .input2{
        height: 30px;
        width: 235px;
    }
    .input3{
        width: 235px;
    }
    .Contact-main-div{
        height: 205vh;       
    }

    .Contact-main{
        margin-top: 80px;
    }
    /* Sitemap */
    .sitemap{
        padding: 20px 50px 80px;
    }
    .map-list{
        display: flex;  
        flex-direction: column;

    }
}